<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Info!</h1>
<form action="submit" method="POST">
    First Name: <input type="submit">
    Last Name: <input type="submit">
    City: <input type="submit">
    Birth Year: <input type="submit">
    <button>Submit!</button>
</form>
</body>
<script>
    const sendInfo = (e) => {
        const infoToSend = await fetch("http://localhost:3075/",
        {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'
        },
        body:{}
        })
    }
</script>
</html>