<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Info!</h1>
    <p>First Name: <input type="text" class="fname"></p>
    <p>Last Name: <input type="text" class="lname"></p>
    <p>City: <input type="text" class="city"></p>
    <p>Birth Year: <input type="text" class="year"></p>
    <button type="submit" onclick="sendDataToDB()">Submit!</button>
</body>
<script>
    const sendDataToDB = async () => {
        const firstName = document.querySelector(".fname").value
        const lastName = document.querySelector(".lname").value
        const city = document.querySelector(".city").value
        const year = document.querySelector(".year").value
        const combinedData = {
            firstname:firstName,
            lastname:lastName,
            city:city,
            birthyear:year,
        }    
        const infoToSend = await fetch("http://localhost:3075/",
        {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(combinedData)
        })
        }
</script>
</html>