<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specifics</title>
</head>
<body>
    <h1>View Identity</h1>
<dl>
    ${personInfo.map(personInfo => 
        `<p>Name</p>
    <dt>${personInfo.firstname}<dt>
    <p>Last Name</p>
    <dt>${personInfo.lastname}<dt>
    <p>Birth Year</p>
    <dt>${personInfo.birthyear}</dt>
    `
    ).join("")}
    
</dl>
</body>
</html>