body {
  background-color: #0c1446;
}

.App {
  height: 100vh;
  width: 100vw;
}

.heading {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  color: #87aca3;
  font-weight: bold;
}

.heading1 {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  color: #87aca3;
}

.heading2 {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  color: #87aca3;
}

.image {
  display: flex;
  margin: auto;
  border-radius: 800px;
  height: 250px;
  width: 300px;
}
